[submodule "frescobaldi_fiori_musicali"]
	path = frescobaldi_fiori_musicali
	url = git@github.com:DCMLab/frescobaldi_fiori_musicali.git
	branch = main
[submodule "bach_solo"]
	path = bach_solo
	url = git@github.com:DCMLab/bach_solo.git
	branch = main
[submodule "corelli"]
	path = corelli
	url = git@github.com:DCMLab/corelli.git
	branch = main
[submodule "platti_sonatas"]
	path = platti_sonatas
	url = git@github.com:DCMLab/platti_sonatas.git
	branch = main
[submodule "kleine_geistliche_konzerte"]
	path = kleine_geistliche_konzerte
	url = git@github.com:DCMLab/kleine_geistliche_konzerte.git
	branch = main
[submodule "schumann_kinderszenen"]
	path = schumann_kinderszenen
	url = git@github.com:DCMLab/schumann_kinderszenen.git
	branch = main
[submodule "liszt_pelerinage"]
	path = liszt_pelerinage
	url = git@github.com:DCMLab/liszt_pelerinage.git
	branch = main
[submodule "chopin_mazurkas"]
	path = chopin_mazurkas
	url = git@github.com:DCMLab/chopin_mazurkas.git
	branch = main
# [submodule "morley_balletti"]
# 	path = morley_balletti
# 	url = git@github.com:DCMLab/morley_balletti.git
# 	branch = main
# [submodule "gastoldi_baletti"]
# 	path = gastoldi_baletti
# 	url = git@github.com:DCMLab/gastoldi_baletti.git
# 	branch = main
[submodule "beethoven_piano_sonatas"]
	path = beethoven_piano_sonatas
	url = git@github.com:DCMLab/beethoven_piano_sonatas.git
	branch = main
[submodule "debussy_suite_bergamasque"]
	path = debussy_suite_bergamasque
	url = git@github.com:DCMLab/debussy_suite_bergamasque.git
	branch = main
[submodule "dvorak_silhouettes"]
	path = dvorak_silhouettes
	url = git@github.com:DCMLab/dvorak_silhouettes.git
	branch = main
[submodule "medtner_tales"]
	path = medtner_tales
	url = git@github.com:DCMLab/medtner_tales.git
	branch = main
[submodule "tchaikovsky_seasons"]
	path = tchaikovsky_seasons
	url = git@github.com:DCMLab/tchaikovsky_seasons.git
	branch = main
[submodule "grieg_lyric_pieces"]
	path = grieg_lyric_pieces
	url = git@github.com:DCMLab/grieg_lyric_pieces.git
	branch = main
[submodule "pleyel_quartets"]
	path = pleyel_quartets
	url = git@github.com:DCMLab/pleyel_quartets.git
	branch = main
[submodule "kozeluh_sonatas"]
	path = kozeluh_sonatas
	url = git@github.com:DCMLab/kozeluh_sonatas.git
	branch = main
[submodule "bach_en_fr_suites"]
	path = bach_en_fr_suites
	url = git@github.com:DCMLab/bach_en_fr_suites.git
	branch = main
[submodule "mendelssohn_quartets"]
	path = mendelssohn_quartets
	url = git@github.com:DCMLab/mendelssohn_quartets.git
	branch = main
[submodule "monteverdi_madrigals"]
	path = monteverdi_madrigals
	url = git@github.com:DCMLab/monteverdi_madrigals.git
	branch = main
[submodule "ravel_piano"]
	path = ravel_piano
	url = git@github.com:DCMLab/ravel_piano.git
	branch = main
[submodule "schubert_winterreise"]
	path = schubert_winterreise
	url = git@github.com:DCMLab/schubert_winterreise.git
	branch = main
[submodule "schumann_liederkreis"]
	path = schumann_liederkreis
	url = git@github.com:DCMLab/schumann_liederkreis.git
	branch = main
[submodule "sweelinck_keyboard"]
	path = sweelinck_keyboard
	url = git@github.com:DCMLab/sweelinck_keyboard.git
	branch = main
[submodule "wf_bach_sonatas"]
	path = wf_bach_sonatas
	url = git@github.com:DCMLab/wf_bach_sonatas.git
	branch = main
[submodule "wagner_overtures"]
	path = wagner_overtures
	url = git@github.com:DCMLab/wagner_overtures.git
	branch = main
[submodule "couperin_concerts"]
	path = couperin_concerts
	url = git@github.com:DCMLab/couperin_concerts.git
	branch = main
[submodule "couperin_clavecin"]
	path = couperin_clavecin
	url = git@github.com:DCMLab/couperin_clavecin.git
	branch = main
[submodule "ABC"]
	path = ABC
	url = git@github.com:DCMLab/ABC.git
	branch = main
[submodule "mozart_piano_sonatas"]
	path = mozart_piano_sonatas
	url = git@github.com:DCMLab/mozart_piano_sonatas.git
	branch = main
# [submodule "jazz_transcriptions"]
# 	path = jazz_transcriptions
# 	url = git@github.com:DCMLab/jazz_transcriptions.git
# 	branch = main
[submodule "mahler_kindertotenlieder"]
	path = mahler_kindertotenlieder
	url = git@github.com:DCMLab/mahler_kindertotenlieder.git
	branch = main
[submodule "scarlatti_sonatas"]
	path = scarlatti_sonatas
	url = git@github.com:DCMLab/scarlatti_sonatas.git
	branch = main
# [submodule "schubert_dances"]
# 	path = schubert_dances
# 	url = git@github.com:DCMLab/schubert_dances.git
# 	branch = main
[submodule "jc_bach_sonatas"]
	path = jc_bach_sonatas
	url = git@github.com:DCMLab/jc_bach_sonatas.git
	branch = main
[submodule "c_schumann_lieder"]
	path = c_schumann_lieder
	url = git@github.com:DCMLab/c_schumann_lieder.git
	branch = main
# [submodule "hassler_gesang"]
# 	path = hassler_gesang
# 	url = git@github.com:DCMLab/hassler_gesang.git
# 	branch = main
# [submodule "bach_chorales"]
# 	path = bach_chorales
# 	url = git@github.com:DCMLab/bach_chorales.git
# 	branch = main
[submodule "handel_keyboard"]
	path = handel_keyboard
	url = git@github.com:DCMLab/handel_keyboard.git
	branch = main
# [submodule "hensel_lieder"]
# 	path = hensel_lieder
# 	url = git@github.com:DCMLab/hensel_lieder.git
# 	branch = main
[submodule "pergolesi_stabat_mater"]
	path = pergolesi_stabat_mater
	url = git@github.com:DCMLab/pergolesi_stabat_mater.git
	branch = main
# [submodule "caccini_euridice"]
# 	path = caccini_euridice
# 	url = git@github.com:DCMLab/caccini_euridice.git
# 	branch = main
# [submodule "ligeti_etudes"]
# 	path = ligeti_etudes
# 	url = git@github.com:DCMLab/ligeti_etudes.git
# 	branch = main
[submodule "boccherini_ensemble"]
	path = boccherini_ensemble
	url = git@github.com:DCMLab/boccherini_ensemble.git
# 	branch = main
# [submodule "franck_symphonies"]
# 	path = franck_symphonies
# 	url = git@github.com:DCMLab/franck_symphonies.git
# 	branch = main
# [submodule "messiaen_preludes"]
# 	path = messiaen_preludes
# 	url = git@github.com:DCMLab/messiaen_preludes.git
[submodule "schulhoff_suite_dansante_en_jazz"]
	path = schulhoff_suite_dansante_en_jazz
	url = git@github.com:DCMLab/schulhoff_suite_dansante_en_jazz.git
	branch = main
[submodule "rachmaninoff_piano"]
	path = rachmaninoff_piano
	url = git@github.com:DCMLab/rachmaninoff_piano.git
	branch = main
[submodule "bartok_bagatelles"]
	path = bartok_bagatelles
	url = git@github.com:DCMLab/bartok_bagatelles.git
	branch = main
[submodule "poulenc_mouvements_perpetuels"]
	path = poulenc_mouvements_perpetuels
	url = git@github.com:DCMLab/poulenc_mouvements_perpetuels.git
	branch = main
[submodule "cpe_bach_keyboard"]
	path = cpe_bach_keyboard
	url = git@github.com:DCMLab/cpe_bach_keyboard.git
[submodule "peri_euridice"]
	path = peri_euridice
	url = git@github.com:DCMLab/peri_euridice.git
	branch = main
[submodule "debussy_childrens_corner"]
	path = debussy_childrens_corner
	url = git@github.com:DCMLab/debussy_childrens_corner.git
	branch = main
[submodule "debussy_deux_arabesques"]
	path = debussy_deux_arabesques
	url = git@github.com:DCMLab/debussy_deux_arabesques.git
	branch = main
[submodule "debussy_estampes"]
	path = debussy_estampes
	url = git@github.com:DCMLab/debussy_estampes.git
	branch = main
[submodule "debussy_etudes"]
	path = debussy_etudes
	url = git@github.com:DCMLab/debussy_etudes.git
	branch = main
[submodule "debussy_images"]
	path = debussy_images
	url = git@github.com:DCMLab/debussy_images.git
	branch = main
[submodule "debussy_other_piano_pieces"]
	path = debussy_other_piano_pieces
	url = git@github.com:DCMLab/debussy_other_piano_pieces.git
	branch = main
[submodule "debussy_pour_le_piano"]
	path = debussy_pour_le_piano
	url = git@github.com:DCMLab/debussy_pour_le_piano.git
	branch = main
[submodule "debussy_preludes"]
	path = debussy_preludes
	url = git@github.com:DCMLab/debussy_preludes.git
	branch = main
# [submodule "form_annotations"]
# 	path = form_annotations
# 	url = git@github.com:DCMLab/form_annotations.git
# 	branch = main
